/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'Kaku Gothic ProN W3',sans-serif;
  font-size:14px;
  width:100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}

/*ここから*/
header{
  height:54px;
  margin:40px 64px;
  display:flex;
  justify-content: space-between;
}
.header-logo{
  height: 14px;
  width: 72px;
}
.header-list{
  width:647px;
  margin-right:64px;
}
.header-list ul{
  display: flex;
  justify-content: space-between;
}
.header-list li{
  margin-left: 22px;
  font-size: 14px;
}
.icon-angle-down{
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;

}
.top-wrapper{
  height:1000px;
  position: relative;
}
.top-heading{
  display:block;
  position:absolute;
  top:143px;
  left:198px;
  z-index: 1;
  font-size:70px;
  line-height: 1;
  letter-spacing: 15px;
  margin: 45px auto;
}
.scrollbar{
  position:absolute;
  left:0;
  bottom: 5%;
  color:#999;
  transform: rotate(90deg);
  vertical-align: middle;
}
.scrollbar span{
  border-top:1px solid #ccc;
  width: 80px;
  height: 1px;
  display: inline-block;
}
.top-image{
  position: absolute;
  right:0;
  zoom: 1.4;
}
.info-wrapper{
  width:1080px;
  margin:160px 143px;
}
.salon-info{
  display: flex;
  justify-content: center;
}
.section-title{
  margin-bottom: 48px;
}
.container ul{
  display: flex;
  justify-content: space-between;
}
.container li{
  display:inline-block;
  height:456px;
}
.container span{
  margin-left:16px;
}
.section-title{
  margin-bottom:48px;
}
.reserve{
  height:40px;
  width:120px;
  margin-top:56px;
  float:right;
  display: flex;
  position: relative;
}
.reserve-icon {
  position: absolute;
  top: 10px;
  left:5px;
}
.reserve-icon span{
  z-index: 1;
  border-bottom:1px solid #666;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
.shop{
  background-color: #F7F4F0;
  display: flex;
  justify-content: center;
}
.shop-wrapper{
  width:1080px;
  margin:160px 143px;
}
.shop-section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.rakuten{
  width:880px;
  height: 201px;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.amazon{
  width:880px;
  height: 201px;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.exp p{
  width:260px;
  line-height: 2;
  margin-top:13px ;
}
.shop-viewmore{
  display:flex;
  position:relative;
}
.shop-viewmore span{
  width:103px;
  position: absolute;
  top: 10px;
  left:20px;
  z-index: 1;
  border-bottom:1px solid #666;
}
.join{
  display: flex;
  justify-content: center;
}
.join-wrapper{
  width:1080px;
  margin:160px 143px;
}
.join-wrapper p{
  line-height: 2;
  margin-bottom:46px;
}
.section{
  display: flex;
  justify-content: center;
}
.join-wrapper h3{
  margin-bottom:23px;
}
.new{
  margin-right:80px;
}
.join-wrapper span{
  margin-left:16px;
}
.join-viewmore{
  margin-top:81px;
  display: flex;
  position: relative;
}
.image{
  margin-left:360px ;
}
.join-viewmore a{
  position: absolute;
  top: 10px;
  right:20px;
 text-decoration:underline;
}
footer{
  height: 342px;
  border-top:1px solid #ccc;
}
.footer-logo{
  margin:56px 180px 0 104px;
  display:inline-block;
}
.footer-container{
  margin:62px 104px 80px 428px;
  display: flex;
  justify-content: space-around;
}
.grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.footer-navi-heading{
  margin-bottom: 16px;
}
.footer-nav li{
  margin-bottom: 13px;
}
.Copyrights{
  display: flex;
  justify-content: end;
  padding-bottom: 56px;
  margin-right:104px;
}
